<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492289273413-51ip31ver3l7subprqr4n2m9ui62t09p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492289273413-51ip31ver3l7subprqr4n2m9ui62t09p</string>
	<key>API_KEY</key>
	<string>AIzaSyCZgfmoYs7n5mHOkeKQmsyCaEocHn8hZDI</string>
	<key>GCM_SENDER_ID</key>
	<string>492289273413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boilerplate.rn</string>
	<key>PROJECT_ID</key>
	<string>boilerplate-rn</string>
	<key>STORAGE_BUCKET</key>
	<string>boilerplate-rn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492289273413:ios:d7e83ec1f5647d71c13d2c</string>
	<key>DATABASE_URL</key>
	<string>https://boilerplate-rn.firebaseio.com</string>
</dict>
</plist>